<form [formGroup]="form">
  <div class="phase1-login-info">
    Adreça d'enviament
    <div class="input-rows">

      <div class="horizontal-fields-display">
        <p-floatlabel variant="on">
          <input id="city" pInputText formControlName="city"
            [ngClass]="{'is-invalid': form.hasError('inconsistentCity') }" />
          <label [ngClass]="{'is-invalid': form.hasError('inconsistentCity') }" for="city">Ciutat</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <input id="province" pInputText formControlName="province"
            [ngClass]="{'is-invalid': form.hasError('inconsistentProvince') }" />
          <label [ngClass]="{'is-invalid': form.hasError('inconsistentProvince') }" for="province">Provincia</label>
        </p-floatlabel>
      </div>

      <div class="horizontal-fields-display">
        <p-floatlabel variant="on">
          <input id="streetNumber" pInputText formControlName="streetNumber"
            [ngClass]="{'is-invalid': form.hasError('inconsistentStreetNumber') }" />
          <label [ngClass]="{'is-invalid': form.hasError('inconsistentStreetNumber') }" for="streetNumber">Carrer,
            número</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <input id="blockFlat" pInputText formControlName="blockFlat" />
          <label for="blockFlat">Bloc, pis</label>
        </p-floatlabel>
      </div>

      <div class="phase1-login-form">
        <p-floatlabel variant="on">
          <input id="postalCode" pInputText formControlName="postalCode"
            [ngClass]="{'is-invalid': form.hasError('inconsistentPostalCode') }" />
          <label [ngClass]="{'is-invalid': form.hasError('inconsistentPostalCode') }" for="postalCode">Codi
            postal</label>
        </p-floatlabel>
      </div>
    </div>
  </div>
</form>