<div class="phase1-login-info">
  ADREÇA D'ENVIAMENT
  <div class="input-rows">

    <div class="horizontal-fields-display">
      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="street_num" />
        <label for="username">Carrer, número</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="block_flat" />
        <label for="username">Bloc, pis</label>
      </p-floatlabel>
    </div>

    <div class="horizontal-fields-display">
      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="zip_code" />
        <label for="username">Codi postal</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="city" />
        <label for="username">Ciutat</label>
      </p-floatlabel>
    </div>

    <div class="phase1-login-form">
      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="province" />
        <label for="username">Ciutat</label>
      </p-floatlabel>
    </div>
  </div>
</div>