<p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="display" [modal]="true" (onHide)="onHide()">
    <ng-template #headless>
        <div class="add-popup">
            <div class="add-popup-title">Destinatari:</div>
            <div class="add-popup-elements">
                <p-floatlabel variant="on">
                    <input pInputText id="name" [(ngModel)]="entityNameValue" autocomplete="off" />
                    <label for="name">Nom o raó social</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText pTooltip="Enviarem les factures a aquesta direcció de correu electrònic."
                        id="surname" [(ngModel)]="emailValue" autocomplete="off" />
                    <label for="surname">Correu</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="phone" [(ngModel)]="taxIdValue" autocomplete="off" />
                    <label for="phone">Identificador fiscal</label>
                </p-floatlabel>
            </div>
            <div class="add-popup-buttons" (click)="persistRecipient()">
                <p-button label="Afegir">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L15 12L9 6" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>