<div class="item-card">
  <div class="item-card-inner">
    <div class="item-card-objects">
      <div class="item-card-image">
        <!-- Dinamically loaded image -->
        <img src="https://dummyimage.com/195x195/000/fff" alt="whatever">
        <!-- This should have color selectors on top -->
      </div>
      <div class="item-card-details">
        <!-- Dinamycally loaded title -->
        <div class="title"> Dessuadora tres caps </div>
        <!-- Dinamically loaded price -->
        <div class="price"> 9.95 €</div>
      </div>
    </div>
  </div>
</div>