<div class="header-wrapper">
  <header>
    <div class="logo-wrapper">
      <div class="logo-container">
        <img src="assets/logo_white_dragon.svg" alt="Logo">
      </div>
    </div>

    <nav class="main-menu">
      <div class="button-wrapper">
        <div class="button-text-wrapper">
          INICI
        </div>
      </div>

      <div class="button-wrapper">
        <div class="button-text-wrapper">
          HISTÒRIA
        </div>
      </div>
      <div class="button-wrapper">
        <div class="button-text-wrapper">
          NOTICIES
        </div>
      </div>
      <div class="button-wrapper">
        <div class="button-text-wrapper">
          CONTACTE
        </div>
      </div>
    </nav>





    <div class="profile-wrapper">
      <div class="shop-wrapper">
        <div class="shop-text-wrapper">
          BOTIGA
        </div>
      </div>

      <div class="config-wrapper">
        <div class="config-icon-wrapper" onclick="window.location.href='login'">
          <!-- <img src="assets/profile.svg" alt="Profile Icon"> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
            <path
              d="M11 13.2222C14.4518 13.2222 17.25 10.4862 17.25 7.11111C17.25 3.73604 14.4518 1 11 1C7.54822 1 4.75 3.73604 4.75 7.11111C4.75 10.4862 7.54822 13.2222 11 13.2222ZM11 13.2222C13.6522 13.2222 16.1957 14.2524 18.0711 16.0861C19.9464 17.9198 21 20.4068 21 23M11 13.2222C8.34784 13.2222 5.8043 14.2524 3.92893 16.0861C2.05357 17.9198 1 20.4068 1 23"
              stroke="white" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>

    </div>

  </header>

</div>