<form [formGroup]="form">
  <div class="phase1-login-info">
    Informació d'inici de sessió
    <div class="phase1-login-form">
      @if (form.get('username')?.hasError('taken')) {
      <div class="email-in-use">
        La adreça de correu electrònic ja està en ús. <a href="/login">Inicia sessió.</a>
      </div>
      }
      <p-floatlabel variant="on">
        <input id="username" pInputText formControlName="username" />
        <label for="username">Usuari</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <div [ngClass]="{'invalid-password': form.get('password')?.invalid && form.get('password')?.touched}">
          <p-password formControlName="password" id="password" [toggleMask]="true" [feedback]="true" />
          <label for="password">Contrasenya</label>
        </div>

      </p-floatlabel>
    </div>
    <div class="phase1-login-checklist">
      <div class="phase1-login-checklist-item">
        <!-- Checkbox1 -->
        <p-checkbox inputId="policy" [binary]="true" formControlName="acceptTerms" />
        <label for="policy" class="ml-2">Accepto la <a href="google.com">politica de privacitat</a>.</label>
      </div>
      <div class="phase1-login-checklist-item">
        <!-- Checkbox2 -->
        <p-checkbox inputId="news" [binary]="true" />
        <label for="news" class="ml-2">Vull rebre novetats o ofertes.</label>
      </div>
    </div>
  </div>
</form>