.phase1-login-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;

  color: #262626;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */

  .phase1-login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-size: 16px;

    .email-in-use {
      color: #dc2626;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */

      a {
        color: #dc2626;
      }
    }

    .invalid-password {
      --p-floatlabel-focus-color: #dc2626;
      --p-floatlabel-color: #dc2626;
      ::ng-deep p-password .p-inputtext {
        border-color: #f87171;

        &:focus {
          border-color: #f87171;
        }
      }
    }

    input {
      width: 250px;
      padding-top: 14px;
      padding-bottom: 14px;
    }

    ::ng-deep .p-password-input {
      width: 250px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  .phase1-login-checklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    color: #7c7c7c;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    .phase1-login-checklist-item {
      display: flex;
      justify-content: flex-start;
      gap: 8px;
      align-items: center;
    }

    a {
      color: #68a68f;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
