<form [formGroup]="form">
  <div class="phase1-login-info">
    Informació d'inici de sessió
    <div class="phase1-login-form">
      @if (form.get('email')?.hasError('taken')) {
      <div class="email-in-use">

      </div>
      }
      <div>
        <p-floatlabel variant="on">
          <input id="email" pInputText formControlName="email" [invalid]="isInvalid('email')" />
          <label for="email">Email</label>
        </p-floatlabel>
        @if (form.get('email')?.touched) {
        @if (form.get('email')?.hasError('email')) {
        <p-message severity="error" size="small" variant="simple">L'adreça no té el format esperat.</p-message>
        }
        @if (form.get('email')?.hasError('taken')) {
        <p-message severity="error" size="small" variant="simple">La adreça de correu electrònic ja està en ús. <a
            [routerLink]="['/login']">Inicia sessió.</a></p-message>
        }
        @if (form.get('email')?.hasError('required')) {
        <p-message severity="error" size="small" variant="simple">Aquest camp es obligatori.</p-message>
        }
        }
      </div>
      <div>
        <p-floatlabel [ngClass]="{'invalid-password': form.get('password')?.invalid && form.get('password')?.touched}"
          variant="on">
          <div>
            <p-password formControlName="password" id="password" [toggleMask]="true" [feedback]="true" />
            <label for="password">Contrasenya</label>
          </div>
        </p-floatlabel>
        @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
        <p-message severity="error" size="small" variant="simple">Aquest camp es obligatori.</p-message>
        }
      </div>
    </div>
    <div class="phase1-login-checklist">
      <div>
        <div class="phase1-login-checklist-item">
          <!-- Checkbox1 -->
          <p-checkbox inputId="policy" [binary]="true" formControlName="acceptTerms" />
          <label for="policy" class="ml-2">Accepto la <a href="google.com">politica de privacitat</a>.</label>
        </div>
        @if (form.get('acceptTerms')?.touched && form.get('acceptTerms')?.hasError('required')) {
        <p-message severity="error" size="small" variant="simple">Aquest camp es obligatori.</p-message>
        }
      </div>
      <div class="phase1-login-checklist-item">
        <!-- Checkbox2 -->
        <p-checkbox inputId="news" [binary]="true" formControlName="newsletter" />
        <label for="news" class="ml-2">Vull rebre novetats o ofertes.</label>
      </div>
    </div>
  </div>
</form>