<div class="main-product">
    <div class="product-close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.48528 20.4558L20.4558 3.48528M3.48528 3.48528L20.4558 20.4558" stroke="#262626" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>

    <div class="product-body">
        <div class="galleria">

            <p-galleria  [value]="images()" [responsiveOptions]="responsiveOptions"
                [style]="{'width': '100%'}" [numVisible]="5">

                <ng-template #item let-item>
                    <img [src]="item.itemImageSrc" style="width:100%; height:auto;" />
                </ng-template>

                <ng-template #thumbnail let-item>
                    <img [src]="item.thumbnailImageSrc" style="width:80px; height:auto;" />
                </ng-template>
            </p-galleria>

        </div>
        <div class="details">
            <div class="details-body">
                <div class="details-attr">
                    <span class="details-attr-title"> {{itemDto?.title}}</span>
                    <span class="details-attr-price">{{itemDto?.price}}</span>
                    <span class="details-attr-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>

                <div class="details-meas">
                    <span class="details-subtitle">Mesura:</span>
                    <div class="details-meas-list">
                        <div class="details-meas-item">
                            XXL
                        </div>
                        <div class="details-meas-item">
                            XL
                        </div>
                        <div class="details-meas-item">
                            L
                        </div>
                        <div class="details-meas-item">
                            M
                        </div>
                        <div class="details-meas-item">
                            S
                        </div>
                    </div>
                </div>


                <div class="details-colors">
                    <span class="details-subtitle">Color:</span>
                    <div class="details-colors-list">
                        <div class="details-colors-item">
                            <!-- RED -->
                        </div>
                        <div class="details-colors-item">
                            <!-- GREEN -->
                        </div>
                        <div class="details-colors-item">
                            <!-- BLUE -->
                        </div>
                    </div>
                </div>

                <div class="details-amount">
                    <span class="details-subtitle">Quantitat:</span>
                    <!-- Fallback to primeng integer selector -->
                    <div class="input-number-container">
                        <p-inputnumber [(ngModel)]="value1" [min]="0" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal" inputId="horizontal" [inputStyle]="{ width: '3rem' }">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                    </div>

                </div>

            </div>
            <div class="details-buttons">
                <p-button label="Carro" severity="secondary" />
                <p-button label="Comprar" />
            </div>
        </div>
    </div>
</div>