<app-shop-header></app-shop-header>
<div class="contents">
    <div class="buy-component">
        <div class="details">

            <p-stepper [value]="selectedStep" [linear]="false">
                <p-step-item [value]="1">
                    <p-step>
                        <div class="stepper-header">Enviament</div>
                    </p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <!-- START OF CONTENT 1 -->
                            <app-shipment [shippingResponse]="shippingResponse" [requestPaymentDraft]="requestPaymentDraft"  (dtoUpdate)="propagateUpdate($event)"></app-shipment>
                            <!-- END OF CONTENT 1 -->
                        </ng-template>
                    </p-step-panel>
                </p-step-item>

                <p-step-item [value]="2">

                    <p-step>
                        <div class="stepper-header">Facturació</div>
                    </p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <app-billing [shippingResponse]="shippingResponse"  [requestPaymentDraft]="requestPaymentDraft" (dtoUpdate)="propagateUpdate($event)"></app-billing>
                        </ng-template>
                    </p-step-panel>
                </p-step-item>

                <p-step-item [value]="3">
                    <p-step>
                        <div class="stepper-header">Pagament</div>
                    </p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            @if (selectedStep == 3) {
                            <app-payment [cartDto]="cartResponse" [requestPaymentDraft]="requestPaymentDraft" (paymentCompleted)="goNext()"></app-payment>
                            }
                        </ng-template>
                    </p-step-panel>
                </p-step-item>

                <p-step-item [value]="4">
                    <p-step>
                        <div class="stepper-header">Comprovant</div>
                    </p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">

                        </ng-template>
                    </p-step-panel>
                </p-step-item>
            </p-stepper>

        </div>
        <div class="nav">
            <button (click)="goBack()">Back</button>
            <button class="nxt-button" (click)="goNext()">Next</button>
        </div>

    </div>
</div>


<!-- POPUPS  -->