<div class="register-container">
  <h2>{{ steps[currentStep].label }}</h2>

  <ng-container [ngSwitch]="currentStep">
    <app-register-step-login *ngSwitchCase="0" [form]="loginForm"></app-register-step-login>
    <app-register-step-personal *ngSwitchCase="1" [form]="personalForm"></app-register-step-personal>
    <app-register-step-address *ngSwitchCase="2" [form]="addressForm"></app-register-step-address>
    <app-register-step-totp *ngSwitchCase="3" [form]="totpForm"></app-register-step-totp>
  </ng-container>


  <div class="navigation-buttons">
    <button (click)="prevStep()" [disabled]="currentStep === 0">Back</button>
    <button (click)="nextStep()" *ngIf="currentStep < steps.length - 1">Next</button>
    <button (click)="submit()" *ngIf="currentStep === steps.length - 1">Submit</button>
  </div>
</div>