<div class="phase1-login-info">
  VALIDAR EL COMPTE

  <div class="validate-desc">
    T'hem enviat un codi de verificació al teu correu electrònic.<br>
    <div class="validate-desc-sub">
      Revisa la teva bústia d'entrada (i també la carpeta de correu no desitjat o spam). Introdueix el codi de 4
      dígits que t’hem enviat per continuar amb el registre.
    </div>

  </div>

  <p-inputotp [(ngModel)]="value3" size="large" />

  <div class="validate-resend">
    Torna a enviar el codi
  </div>
</div>