<app-header></app-header>
<div class="register-card-wrapper">

  <div class="register-mainframe">
    <div class="register-stepper-main">

      <div class="register-stepper-contents">
        Registre
        <div class="register-stepper-phases">
          <div class="register-phase phase-active">
            <div class="register-phase-level" [ngClass]="{'active': currentStep >= 0}">
              1
            </div>
            <div class="register-phase-title" [ngClass]="{'active': currentStep >= 0}">
              Crear compte
            </div>
          </div>
          <div class="register-phase-line" [ngClass]="{'active': currentStep >= 1}">
            <svg width="4" height="28" viewBox="0 0 4 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 1.5L2 26.5" stroke-width="3" stroke-linecap="round" />
            </svg>
          </div>
          <div class="register-phase">
            <div class="register-phase-level" [ngClass]="{'active': currentStep >= 1}">
              2
            </div>
            <div class="register-phase-title" [ngClass]="{'active': currentStep >= 1}">
              Dades personals
            </div>
          </div>
          <div class="register-phase-line" [ngClass]="{'active': currentStep >= 2}">
            <svg width="4" height="28" viewBox="0 0 4 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 1.5L2 26.5" stroke-width="3" stroke-linecap="round" />
            </svg>
          </div>
          <div class="register-phase">
            <div class="register-phase-level" [ngClass]="{'active': currentStep >= 2}">
              3
            </div>
            <div class="register-phase-title" [ngClass]="{'active': currentStep >= 2}">
              Dades d'enviament
            </div>
          </div>
          <div class="register-phase-line" [ngClass]="{'active': currentStep >= 3}">
            <svg width="4" height="28" viewBox="0 0 4 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 1.5L2 26.5" stroke-width="3" stroke-linecap="round" />
            </svg>
          </div>
          <div class="register-phase">
            <div class="register-phase-level" [ngClass]="{'active': currentStep >= 3}">
              4
            </div>
            <div class="register-phase-title" [ngClass]="{'active': currentStep >= 3}">
              Validar compte
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="register-contents-main">
      <div class="contents-phase1">

        <!-- Phase dynamic contents -->

        @switch (currentStep) {
        @case (0) {
        <app-register-step-login [form]="loginForm"></app-register-step-login>
        }
        @case (1) {
        <app-register-step-personal [form]="personalForm"></app-register-step-personal>
        }
        @case (2) {
        <app-register-step-address [form]="addressForm"></app-register-step-address>
        }
        @case (3) {
        <app-register-step-totp [form]="totpForm"></app-register-step-totp>
        }
        @case (4) {
        <app-register-step-success></app-register-step-success>
        }
        }

        <!-- Do not show footer when currentStep is 4 (success step) -->
        @if (currentStep < 4) { <div class="phase1-footer">
          @if (currentStep > 0) {
          <p-button class="back-btn" label="Enrere" [link]="true" (onClick)="prevStep()">
            <img src="/assets/icons/chevron-left.svg" alt="Login Icon">
          </p-button>
          }

          @if (currentStep < steps.length - 1) { <p-button label="Següent" (onClick)="attemptNextStep()"
            [disabled]="getCurrentStepForm().invalid">
            <img src="/assets/icons/chevron-right.svg" alt="Login Icon">
            </p-button>
            } @else {
            <p-button label="Finalitzar" (onClick)="attemptNextStep()" [disabled]="!registerForm.valid">
              <img src="/assets/icons/chevron-right.svg" alt="Login Icon">
            </p-button>
            }
      </div>
      }
    </div>
  </div>
</div>

</div>