<div class="ph1">
    <div class="group">
        <div class="default-text">Vols factura?</div>
        <div class="shipping-opts">

            <div class="shipping-point" [ngClass]="{'active': selectedType == BillingOptions.YES}"
                (click)="selectType(BillingOptions.YES)">
                Si
            </div>
            <div class="shipping-point" [ngClass]="{'active': selectedType == BillingOptions.NO}"
                (click)="selectType(BillingOptions.NO)">
                No
            </div>
        </div>
    </div>
    @if (selectedType == BillingOptions.YES) {
    <div class="group">
        <div>
            <div class="default-text">Dades fiscals:</div>
            <div class="billing-carousel-wrapper">
                <p-carousel #billingCr [value]="shippingResponse.billingInfos" [numVisible]="5" [numScroll]="5"
                    [showIndicators]="false"
                    [showNavigators]="shippingResponse.billingInfos.length > (billingCr?.numVisible || 0)"
                    [circular]="false" [responsiveOptions]="responsiveOptions"
                    [style.--billing-carousel-width.px]="billingCarouselWidth" [page]="billingPage"
                    (onPage)="billingPage = $event.page || 0">
                    <ng-template pTemplate="item" let-entry>
                        <div class="carousel-card" [ngClass]="{'active': selectedBilling == entry}"
                            (click)="selectBilling(entry)">
                            <div class="carousel-title">
                                {{entry.entityName}}
                            </div>
                            <div class="carousel-line-trim">CIF/NIF: {{entry.taxId}}</div>
                            <div class="carousel-line-trim">Correu: {{entry.email}}</div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <div class="add-element" (click)="showBillingPopup()">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.07202H15M8 1.07202V15.072" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Afegir destinatari
            </div>
        </div>
    </div>

    <div class="group">
            <div class="checbox-container">
            <p-checkbox inputId="sameAddressCheckbox" [(ngModel)]="sameAddress" [binary]="true" />
            <label for="sameAddressCheckbox">Utilitzar la mateixa adreça d'enviament</label>
        </div>
    </div>
    <div class="group">
        @if(!sameAddress) {
                    <div class="default-text">Adreça fiscal:</div>

        <div class="address-carousel-wrapper">
            <p-carousel #addressCr [value]="shippingResponse.addresses" [numVisible]="5" [numScroll]="5"
                [showIndicators]="false"
                [showNavigators]="shippingResponse.addresses.length >  (addressCr?.numVisible || 0)" [circular]="false"
                [responsiveOptions]="responsiveOptions" [style.--address-carousel-width.px]="addressCarouselWidth"
                [page]="addressPage" (onPage)="addressPage = $event.page || 0">
                <ng-template let-entry #item>
                    <div class="carousel-card" [ngClass]="{'active': selectedAddress == entry}"
                        (click)="selectAddress(entry)">
                        <div class="carousel-line-trim-two-lines">
                            {{ entry.street }},
                            @if(entry.flat) {
                            {{entry.flat}},
                            }
                            {{ entry.city }},
                            {{ entry.province }},
                            {{ entry.zip }}</div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>

        <div class="add-element" (click)="showAddressPopup()">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8.07202H15M8 1.07202V15.072" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Afegir direcció
        </div>
        }
    </div>
    }
</div>

<app-billing-popup [(display)]="displayBillingPopup" (addedBilling)="updateBilling($event)"></app-billing-popup>
<app-address-popup [(display)]="displayAddressPopup" (addedAddress)="updateAddress($event)"></app-address-popup>