<div class="main">
    <div class="items">
        <div class="title">Comanda desglossada:</div>
        <div class="receipt">
            <table>
                <thead>
                    <tr>
                        <th>Producte</th>
                        <th>Quantitat</th>
                        <th>Color / Talla</th>
                        <th>Preu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" class="separator"></td>
                    </tr>
                    @for (item of cartDto.cart.items; track $index) {
                    <tr>
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{ item.quantity}}
                        </td>
                        <td>
                            <div class="color-size">
                                @if (item.selectedColor) {
                                <div class="col-color">
                                    <div class="item-color" [style.background]="item.selectedColor">
                                    </div>
                                </div>
                                }
                                {{item.selectedSize}}
                            </div>
                        </td>
                        <td>
                            {{ DracStringUtils.formatPrice(item.price) }}
                        </td>
                    </tr>
                    }
                    <tr>
                        <td colspan="4" class="separator"></td>
                    </tr>
                    <tr>
                        <td>Subtotal:</td>
                        <td>
                        </td>
                        <td></td>
                        <td> {{ DracStringUtils.formatPrice(cartDto.cart.subtotal) }}</td>
                    </tr>
                    <tr>
                        <td>
                            Enviament:
                        </td>
                        <td></td>
                        <td></td>
                        <td> {{ DracStringUtils.formatPrice(cartDto.cart.shipment) }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="separator dashed"></td>
                    </tr>
                    <tr>
                        <td >Preu total:</td>
                        <td></td>
                        <td></td>
                        <td> {{ DracStringUtils.formatPrice(cartDto.cart.totalNoVat) }}</td>
                    </tr>

                    <tr>
                        <td class="bold">Preu total (IVA 21%):</td>
                        <td></td>
                        <td></td>
                        <td class="bold"> {{ DracStringUtils.formatPrice(cartDto.cart.total) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="info">

        <div class="title">Mètode de pagament:</div>
        <div class="payment-opts">
            <div class="payment-opt">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2 10H22M4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17V7C2 5.89543 2.89543 5 4 5Z"
                        stroke="#C8C8C8" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Tarjeta
            </div>
            <div class="payment-opt">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2 10H22M4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17V7C2 5.89543 2.89543 5 4 5Z"
                        stroke="#C8C8C8" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                PayPal
            </div>
        </div>
                <div class="disclaimer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempore quisquam
            omnis dolorum nostrum, distinctio est debitis pariatur quaerat maiores, rerum architecto, commodi dolorem
            ducimus fuga magnam corporis expedita sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Inventore tempore quisquam
            omnis dolorum nostrum, distinctio est debitis pariatur quaerat maiores, rerum architecto, commodi dolorem
            ducimus fuga magnam corporis expedita sapiente.</div>
    </div>

</div>