.main {
    width: 100%;
    display: flex;
    gap: 24px;
        flex-wrap: wrap;

    .info {
        display: flex;
        flex-direction: column;
        // width: 50%;
        gap: 8px;
        flex: 1 1 505px;
        .payment-opts {
            display: flex;

            .payment-opt {
                display: flex;
                min-width: 80px;
                padding: 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 50px;
                background: #FFF;
                border: 1px solid #C8C8C8;
                color: #C8C8C8;
                text-align: center;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                cursor: pointer;

                svg {
                    stroke: #C8C8C8;
                }

                &:hover {
                    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
                }

                &.active {
                    border-radius: 50px;
                    border: 1px solid #68A68F;
                    background: #FFF;
                    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

                    svg {
                        stroke: #89BFAA;
                    }

                    color: #89BFAA;
                }
            }
        }
    }

    .items {
        // width: 50%;

        display: flex;
        flex-direction: column;
        flex: 1 1 500px;
        gap: 8px;

        .receipt {
            border: 2px dashed black;
            table-layout: fixed;

            .color-size {
                display: flex;
                align-items: center;
                gap: 8px;

                .item-color {
                    border: 1px solid #000;
                    display: flex;
                    padding: 2px;
                    align-items: center;
                    width: 16px;
                    aspect-ratio: 1/1;
                    border-radius: 50px;
                }
            }


            table {
                width: 100%;
                  font-family: "Noto Sans Mono", monospace;
            }

            th {
                text-align: left;
            }

            .bold {
                font-weight: bold;
            }

            .separator {
                border-bottom: 1px solid #000;
                height: 1px;
                padding: 0;

                &.dashed {
                    border-bottom: 1px dashed #000;
                }
            }

        }
    }

    .title {
        color: #7C7C7C;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .disclaimer {
        color: #afafaf;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-style: italic;
    }

    .pay-button-container {
        margin-top: 12px;
        display: flex;
        justify-content: center;
    }
}