<div class="main">
    <div class="info">
        <div class="disclaimer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempore quisquam
            omnis dolorum nostrum, distinctio est debitis pariatur quaerat maiores, rerum architecto, commodi dolorem
            ducimus fuga magnam corporis expedita sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore tempore quisquam
            omnis dolorum nostrum, distinctio est debitis pariatur quaerat maiores, rerum architecto, commodi dolorem
            ducimus fuga magnam corporis expedita sapiente.</div>
        <div class="title">Mètode de pagament:</div>
        <div class="payment-opts">
            <div class="payment-opt">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2 10H22M4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17V7C2 5.89543 2.89543 5 4 5Z"
                        stroke="#C8C8C8" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Tarjeta
            </div>
            <div class="payment-opt">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2 10H22M4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17V7C2 5.89543 2.89543 5 4 5Z"
                        stroke="#C8C8C8" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                PayPal
            </div>
        </div>
    </div>
    <div class="items">
        <div class="title">Comanda desglossada:</div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus id aperiam dolorem expedita corrupti nam
        esse perspiciatis repellendus, quaerat labore explicabo omnis veniam soluta autem ea, necessitatibus harum
        tempora nihil!
    </div>
</div>