<div class="phase1-login-info">
  Dades d'identificació
  <div class="input-rows">


    <div class="horizontal-fields-display">
      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="name" />
        <label for="username">Nom</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input id="username" pInputText [(ngModel)]="surname" />
        <label for="username">Cognoms</label>
      </p-floatlabel>
    </div>

    <div class="phase1-login-form">
      <p-floatlabel variant="on">
        <p-datepicker [(ngModel)]="value3" inputId="on_label" showIcon iconDisplay="input" dateFormat="dd/mm/yy" />
        <label for="on_label">Data de naixement</label>
      </p-floatlabel>
    </div>
  </div>
  Contacte

  <div class="phase1-login-form">
    <p-floatlabel variant="on">
      <input id="username" pInputText [(ngModel)]="phone" />
      <label for="username">Telèfon</label>
    </p-floatlabel>
  </div>
</div>